
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-attachment:fixed;
  background-color:#000000;
  background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(0, 0, 0) 100%), url(https://cdn.pixabay.com/photo/2016/10/26/23/25/colors-1772984_1280.jpg);
  background-position:top center;
  background-repeat:no-repeat;
  background-size:100% auto;
  width: 100%;
  height: auto;
  font-weight: bold;
  padding:30px;
}

.main{
  background-color: white;
  opacity:0.8;
  margin: 1%;
  padding: 1%;
}

.nav{
  margin-top: -7%;
  margin-left: -12.3%;
  padding: 0;
  position: fixed;
}

.navbtn{
  position: fixed;
  display:grid;
  margin: auto;
  padding: auto;
  margin-left: 8.7%;
  margin-top: 32%;
}

.btnnav1{
  width: 200px;
}

.box{
  margin-top: 10%;
  display: flex;
  position: relative;
  justify-content: center;
}

.img1{
  margin: auto;
  padding: auto;
  border-radius: 25px;
  height: 300px;
}

.image{
  margin-left: 14%;
  margin-top: 10%;
}

/* Blur + Gray Scale */
.hover10 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}


/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  text-shadow: 1em;
  display: flex;
  justify-content: center;
}

.skilllist{
  font-size: medium;
  display: flex;
  justify-content: center;
}

.skills{
  padding: 0;
  margin:0;
  width: 150px;
}

.column1{
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
}

.column2{
  display: flex;
  justify-content: center;
}

.footer{
  background-color: transparent;
}

@media only screen and (max-width: 769px) {

  body{
    background-image: none; 
  }

  .nav{
    margin-top: 50%;
    z-index: -1;
  }

  .navbtn{
    position: relative; 
    display: grid;
    margin-top: 60%;
    margin-left: 26%;
    width:auto;
 }

  .boxmobile{
    margin-top: 0;
    opacity: .8;
  }

  .img12{
    position: fixed;
    margin-top: -80%;

  }
}

